@import url('../main.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
#newForm {
    background-color:darkgrey;
    padding: 5px;
}
.action-buttons {
    padding: 5px 20px;
}
h3 {
    text-align: center;
}
.getJsonData {
    width: 95%;
    margin: 0 auto;
}
.getJsonData textarea#JSONData {
    display: block;
    min-height: 50%;
    width: 100%;
}
.getJsonData button[type=submit] {
    display: block;
    width: 100%;
}

/*Preview window*/
#previewForm {
    padding: 65px 5px 20px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
}